<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
   <form action="/importar_tareas" method="POST" enctype="multipart/form-data" class="form-importa">
    <label for="archivo" class="label-importar">Seleccionar archivo JSON</label>
    <input type="file" id="archivo" name="archivo" class="input-archivo" accept=".json" required>
    <button type="submit" class="boton-importar">Importar Tareas</button>
    
</form>
<a href="/exportar_tareas" class="boton">Exportar Tareas</a>

<br><br><br><br>
    <table>
        <h1>Lista de Usuarios Registrados</h1>
        <form action="/buscar_tarea" method="GET">
            <input type="text" name="query" placeholder="Buscar tarea..." required>
             <button type="submit">Buscar</button>
             
         </form>
         <br>
        <thead>
            <tr>
                <th>Categoria:</th>
                <th>Descripción:</th>
                <th>💩:</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td> {{ tarea[0] }}</td>
                <td>{{ tarea[1] }}</td>
                <td>
                    <!-- Formulario para eliminar la tarea -->
                    <form action="/eliminar_tarea" method="POST" style="display:inline;">
                        <input type="hidden" name="categoria" value="{{ tarea[0] }}">
                        <input type="hidden" name="descripcion" value="{{ tarea[1] }}">
                        <button type="submit" class="boton-eliminar">Eliminar</button>
                    </form>
                </td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/homework">Volver a tareas</a>

</body>
</html>